* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.background-pic {
  text-align: center;
  width: 100vw;
  max-width: 800px;
  height: 100vh;
  position: relative;
}
#title {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.text-title > h1 {
  font-family: "Dancing Script", cursive;
}
span {
  text-decoration: underline;
}
#profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.text-body-emphasis {
  padding: 2rem;
}
.herop {
  max-width: 350px;
}
#features {
  background-color: black;
  color: white;
}
.btn {
  background-color: black;
  border: 1px solid black;
  margin-bottom: 2rem;
}
.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.btn.btn-primary:active {
  background-color: black;
}
h2 {
  text-align: center;
}
li:last-child {
  margin-right: 2rem;
}
li:hover {
  opacity: 0.6;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 99; /* Make sure it does not overlap */
  border: 3px solid white;
  border-radius: 50%;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
}

#myBtn:hover {
  background-color: black;
}
.toggle {
  color: white;
  position: fixed;
  left: 30px;
  z-index: 99;
  cursor: pointer;
}

.form-switch .form-check-input {
  cursor: pointer;
  height: 24px;
  width: 48px;
}
.form-switch .form-check-input:focus {
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
  background-color: lightgrey;
  border-color: none;
  border: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.inverse {
  filter: invert(1);
}
.reverse-color {
  background-color: black;
  color: white;
}
